<div class="hero-banner">
	<div class="hero-text">
		<H1> Apprends à coder en 11 semaines. </br>
		<span class="underline">Gratuitement.</span>
	 	</H1>
	</div>
	
  <p>Votre email</p>
	<div class="mailchimp">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= text_field_tag 'EMAIL', @new_subscriber.email, class:"email", id:"mce-EMAIL", placeholder: "Entrez votre email", class: 'form-control col-sm-9' %>
      <br />
    <%= submit_tag "S'inscrire", class: 'button' %>
  <% end %>
  </div>




<div class="program-banner">
	<div class='program-text'> 
		<H3>Codez the startup way </br>
			<span class="underline">Avec le bon workflow</span>
	 		</H3>
	</div>

	<div class="tabbed">
    	<input type="radio" name="tabs" id="tab-nav-1" checked>
    	<label for="tab-nav-1">Happiness</label>
    	<input type="radio" name="tabs" id="tab-nav-2">
   	  <label for="tab-nav-2">Sleep</label>
    	<input type="radio" name="tabs" id="tab-nav-3">
    	<label for="tab-nav-3">Acceptance</label>
    	<input type="radio" name="tabs" id="tab-nav-4">
    	<label for="tab-nav-4">Relaxing</label>
    	<div class="tabs">
     	 <div><h2>STEP 1</h2><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla tortor, a posuere urna. Praesent urna quam, semper ut ultricies et, mollis ac elit. </p><p>Et non, ceci est <strong>une vraie phrase </strong> ;)
     	 Des liens cliquables se cachent sur cette page !</p></div>
     	 <div><h2>STEP 2</h2><p> Alors, on s'intéresse à la méditation à ce que je vois. Tu veux des tips ?</p></div>
      	<div><h2>STEP 3</h2><p> Si tu es anglophone, va voir <a href="https://www.headspace.com/">Headspace</a> dont cette page s'est inspirée ! Sinon, le <a href="https://www.petitbambou.com/">Petit Bambou</a> si tu veux pas faire de médiation en sous titré </p></div>
      	<div><h2>STEP 4</h2><p>Oublies pas un petit like si t'as kiffé, on t'envoie notre CMO (chief meditation officer) </p></div>  
			</div>
		</div>
</div>

<div class="testimony-banner">

</div>



