<div class ="footer-container">
  <div class="footer-right">

       <a href="#"><i class="fa fa-facebook"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       <a href="#"><i class="fa fa-linkedin"></i></a>
       <a href="#"><i class="fa fa-github"></i></a>
  </div>

     <div class="footer-left">

       <p class="footer-links">
         <a class="link-1" href="#">Home</a>

         <a href="https://blog.thehackingproject.org/">Blog</a>

         <a href="https://www.thehackingproject.org/fr/pricing">Prix</a>

         <a href="mailto:hello@thp.com">Contact</a>
       </p>

       <p>The Hacking Project &copy; 2018</p>
     </div>
</div>
