<navbar>
  <nav class="container">
    <div class="1">
    <a href="#" class="navLinks">Home</a>
    </div>
    <div class="2">
    <a href="#" class="navLinks">Porgramme</a>
    </div>
    <div class="logo">
    </div>
    <div class="3">
    <a href="#" class="navLinks">Témoignage</a>
    </div>
    <div class="4">
    <a href="#" class="navLinks">Contact</a>
    </div>
  </nav>
</navbar>