<header>
  <div class="navbar">
    <div class="logo">  
    </div>
  
    <div class="navtext">

      
      <a href="#" class="navLinks">Programme</a>
      <a href="#" class="navLinks">Témoignage</a>
      <a href="#" class="navLinks">FAQ</a>
    </div>
  </div>
</header>
