@import "variables/personal_variables";
@import "variables/bootstrap_variables";

@import "bootstrap";
@import "components/*";

H1{
	color: #51566A;
}

H3{
  display: inline-block;
}

.underline {
  text-decoration: underline;
}